/* Bootstrap */
@import 'bootstrap/bootstrap.less';
@import 'bootstrap/responsive.less';

table {
    ul.options {
        margin:0;
        padding: 0;
        display:inline;
        > li {
            display: inline;
        }
    }
}

.table-default {
    .table(); 
    .table-bordered(); 
    .table-striped();
    > thead {
        > tr {
            > th {
                text-align:center;
            }
        }
    }
}

form > fieldset > legend
{
    .hide()
}

.pagination {

    > ul {

        > li:first-child,
        > li:nth-child(2),
        > li:last-child,
        > li:nth-last-child(2) {
            .hide-text();
            > a {
                height: 20px;
                background-color: @linkColor;
                background-image: url("@{iconWhiteSpritePath}");
            }
        }

        > li:nth-child(2) > a {
            background-position: -237px -65px;
        }

        > li:nth-last-child(2) > a {
            background-position: -329px -65px;
        }

        > li:first-child > a {
            background-position: -211px -65px;
        }

        > li:last-child > a {
            background-position: -356px -65px;
        }

    }

    > form,
    > form > fieldset {
        display: inline;
    }

}

