/* Bootstrap */
@import 'bootstrap/bootstrap.less';
//@import 'bootstrap/responsive.less';

@fondo-1: #4b1682; // Morado usando en el fondo de los titulos y en la parte de abajo del encabezado.
@fondo-2: #98b1cf; // Celeste usado como fondo del encabezado de las tablas.
@fondo-3: #3a4f7a; // Azul utilizado en la parte superior del encabezado y en el footer
@gris: #363636;
@blancoLetras: #fff;
@headerBorderRadix: 15px;
@defaultShadow: 0 1px 3px rgba(0,0,0,.25);

// Contenido

body > article {
    position: relative;
    z-index: 0;
    margin-top: -50px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 10px;
    padding-top: 60px;
    background-color: @white;
    .border-bottom-radius(@headerBorderRadix);
    .box-shadow(@defaultShadow);
}

// Tablas
table {
    ul.options {
        margin:0;
        padding: 0;
        display:inline;
        > li {
            display: inline;
        }
    }
}

.table-default {
    .table(); 
    .table-bordered(); 
    .table-striped();
    > thead , > tfoot {
        background-color: @fondo-2;
        > tr {
            > th {
                color: @blancoLetras;
                border-color: @fondo-2;
                text-align:center;
            }
        }
    }
}

// Opciones de paginas

article > section > ul.options {
    float: right;
    margin-top: -35px;
    list-style: none;

    > li {
        display: inline;

        > a {
            .btn();

            &.btn-icon {
                > span {
                    .hide();
                }
            }
        }
    }
}

// Formularios
form > fieldset > legend
{
    .hide()
}

// Paginacion
.pagination {

    > ul {

        > li:first-child,
        > li:nth-child(2),
        > li:last-child,
        > li:nth-last-child(2) {
            .hide-text();
            > a {
                height: 20px;
                background-color: @fondo-2;
                background-image: url("@{iconWhiteSpritePath}");
            }
        }

        > li:nth-child(2) > a {
            background-position: -237px -65px;
        }

        > li:nth-last-child(2) > a {
            background-position: -329px -65px;
        }

        > li:first-child > a {
            background-position: -211px -65px;
        }

        > li:last-child > a {
            background-position: -356px -65px;
        }

    }

    > form,
    > form > fieldset {
        display: inline;
        label > span {
            margin: 5px;
            float: right;
        }
        select {
            float: left;
            width: 70px;
            margin: 0;
        }
    }
    
    > p {
        margin: 5px;
        float: right;
        display: inline;
    }

}

// Menu

body > nav {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    padding-right: 5%;
    
    a {
        color: @white;
    }
    
    > ul:nth-child(1) {
        margin-top: 50px;
        margin-right: 15px;
        > li {
            padding: 10px;
            background-color: @fondo-1;
            border: 1px solid @white;
            > a > i {
                .icon();
                .icon-white();
                .icon-chevron-down();
            }
        }
        
    }
    
    > ul:nth-child(2) {
        margin-top: -75px;
    }
    
    > ul > li {
        display: inline;
        ul, ol {
            .hide();
        }
    }

    
}



// Encabezados.

// Encabezado de pagina.
body > header {
    position: relative;
    z-index: 1;
    background-color: @fondo-1;
    color: @blancoLetras;
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    .border-bottom-radius(@headerBorderRadix);
    #gradient > .vertical(@fondo-3, @fondo-1);

    > hgroup {
        
        background-color: @fondo-2;
        margin-top: 25px;
        margin-bottom: @headerBorderRadix;
        padding-bottom: 25px;
        border-bottom: 3px solid @blancoLetras;
        
        > h1, > h2 {
            font-weight: normal;
            font-size: 110%;
            margin-top: -10px;
            padding: 0 10px;
            border: 2px solid @blancoLetras;
            display: inline-block;
        }
        > h1 {
            margin-left: 25px;
            background-color: @gris;
        }
        > h2 {
            margin-left: -6px;
            background-color: @fondo-1;
        }
    }
}

// Encabezado de formulario.
article > header {
    
    margin-bottom: 15px;
    
    > hgroup {
        
        display: inline-block;
        > h3, > h4 {
            line-height: 26px;
            font-weight: normal;
            font-size: 110%;
            margin: 0;
            padding: 0 15px;
        }
        
        > h3 {
            margin-top: 17px;
            background-color: @fondo-1;
            color: @blancoLetras;
            .border-right-radius(15px);
        }
        
        > h4 {
            color: @fondo-3; 
        }
    }
    
    > figure {
        background-color: @fondo-1;
        float: left;
        width: 60px;
        height: 60px;
        overflow: visible;
        .border-radius(50%);
        margin: 0 -3px 0 0;
    }
    
}

body > footer 
{
    margin-top: 30px;
    height: 50px;
    border-top:  4px solid @fondo-1;
    background-color: @fondo-3;
    color: @white;
}